window,
#sidebar,
#trackList,
#trackList tbody,
#specialViewHeader,
#specialViewTracksContainer  {
	background: #3e424d;	
}

#header,
#footer {
	background: #2f343f; 
}

#header {
	border-bottom: solid 1px #383c4a;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.90);
}

#footer {
	border-top: solid 1px #383c4a;
}

#player-cover {
	border: solid 1px #2f343f;
}

#player-title {
	color: #f5f6f7;
}

#player-artist,
#player-timeleft {
	color: #f5f6f7;
}

#player-controls i {
	color: #f5f6f7;
}

#player_favorite.active .icon{
	color: #3a9aff;
}

#player-progress {
	background: #555;
}

#player-progress #player-buffer-bar {
	background: #7a8290;
}

#player-progress #player-progress-bar {
	background: #5294e2;
}

#searchBar { /** For the search icon **/
	color: #f5f6f7;
}

#search {
	color: #f5f6f7;
	background: #404552;
	border: 1px solid #3d3d3d;
}

/************************/
/****** sidebar *********/
/************************/

.nav-group-title {
	color: #c0c0c0;
}

.nav-group-item {
	color: #f5f6f7;
}

.nav-group-item.active {
	background: #5294e2;
}

.icon.icon-play.playing {
	color: #f5f6f7;
}

/************************/
/*** The SpecialView ****/
/************************/

#specialViewHeader {
	color: #fff;
}

/************************/
/**** The tracklist *****/
/************************/

#trackList {
	border-left: 1px solid #3e424d;
}

th {
	background: #383c4a;
    border-right: 1px solid #404552;
    border-bottom: 1px solid #404552;
}

tr,
#coverView > * {
	background: #404552;
	color: #bbb;
}

tr:nth-child(even) {
	background: #383c4a;
}

/*** Selected track ***/

tr:active,
tr.selected {
	color: #fff;
	background: #5294e2;
}

/** Footer ***/
.footer-btn {
	color: #aaa;
}

.footer-btn svg {
	fill: #aaa;
}

.footer-btn.active {
	color: #5294e2;
}

.footer-btn.active svg{
	fill: #5294e2;
}


/************************/
/****** Scrollbar *******/
/************************/

::-webkit-scrollbar {
	width: 7px;
	background: #4d4d4d;
}

::-webkit-scrollbar:hover {
	background: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb {
	background: #666;
	background-clip: padding-box;
	border: 1px solid #444;
	min-height: 10px;
}

::-webkit-scrollbar-thumb:active {
	background: rgba(0,0,0,0.61);
}
